
@font-face {
	font-family: "Montserrat";
	src: url(../fonts/Montserrat-Regular.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: block;
}  

@font-face {
	font-family: "lg";
	src: url(../fonts/lg.woff2);
	font-weight: 400;
	font-style: normal;
	font-display: block;
}  
